main > section {
    display: flex;
    flex-direction: column;
}

.search-input {
    margin: 30px auto;
    height: 40px;
    width: 400px;
    max-width: 90%;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    outline: none;
}

.search-input:focus,
.search-input:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.events {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}