body {
    min-height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF9DB;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

/* navbar */
nav .navbar-brand {
    padding: 0;
}

nav .navbar-brand img {
    height: 100%;
    margin: 0 20px;
}

nav {
    background-color: #FAEEBB!important;
    opacity: 0.95!important;
    border-bottom: 2px solid #F5DC74!important;
}

nav .navbar-nav li a {
    color: #dd8c00!important;
    font-weight: bold;
}

nav .navbar-nav li.active a {
    background-color: #F5DC74!important;
}

.navbar-toggle {
    background-color: #F7E38F!important;
}

.navbar-toggle:hover {
    background-color: #F5DC74!important;
}

/* main */
main {
    margin-top: 60px!important;
    flex: 1;
}

@media (max-width: 305px) {
    main {
        margin-top: 110px!important;
    }
}

/* carousel */
.carousel .item {
    height: 300px;
    overflow: hidden;
}

.carousel .item img {
    min-width: 100%!important;
    min-height: 100%!important;
    width: auto!important;
    height: auto!important;
}

.carousel-control span {
    color: #F5DC74!important;
}

.carousel-indicators li {
    background-color: #F5DC74!important;
    border: 0px;
}

.carousel-indicators li.active {
    background-color: #C4B05C!important;
}

.carousel-inner .carousel-caption {
    transform: translateY(200px);
    transition: .7s;
}

.carousel-inner > .item:hover .carousel-caption {
    transform: initial;
}

/* card */
.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* title */
.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', sans-serif;
    margin: 20px 0;
    padding: 10px 0;
}

.cards > .card {
    margin: 10px;
    height: 400px;
    width: 300px;
    overflow: hidden;
}

@media (max-width: 450px){
    .cards > .card  {
        width: 100%;
        margin: 10px 15px;
        box-sizing: border-box;
    }
}

.card-image {
    width: 100%;
    height: 220px;
}

.card-images {
    width: 100%;
    height: 220px;
}

.card-carousel {
    width: 200%;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
}

.cards > .card:hover .card-carousel {
    animation: carousel 10s infinite;
}

.cards > .card:hover * {
    z-index: 200001;
}

.cards-bg-filter {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: .7s;
}

.cards > .card:hover + .cards-bg-filter {
    z-index: 200000;
    opacity: .7;
}

@keyframes carousel {
    0%, 100%   { transform: translate(0, 0);     }
    25%        { transform: translate(-50%, 0); }
    50%        { transform: translate(-50%, -50%); }
    75%        { transform: translate(0, -50%); }
}

.card-images {
    position: relative;
}

.card-carousel > div {
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content {
    position: relative;
    transition: 0.3s;
    height: 400px;
    overflow: hidden;
}

.card-content-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .9;
}

.card-title {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.card-row {
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card-description {
    position: relative;
    padding: 10px;
}

.card-content:hover {
    transform: translateY(-130px);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* footer */
footer {
    padding: 20px 35px;
    border-top: 2px solid #F5DC74;
    background-color: #FAEEBB;
    margin-top: 20px;
    font-weight: bold;
    z-index: 1;
}

@media (max-width: 768px) {
    footer {
        padding: 10px 35px;
    }

    footer .row > div {
        margin: 10px 0;
    }
}

footer a {
    text-decoration: none;
    color: black;
    transition: 0.7s;
}

footer a:hover {
    color: #dd8c00;
}